.section {
  padding: 15px;
  color: #11b0c8;
  display: flex;
  justify-content: center;
}

.search-input {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.site-search {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px 0 0 5px;
  flex: 1;
}

.button.search {
  border-radius: 0 5px 5px 0;
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
}

select {
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

select option {
  font-size: 1em;
}

.filters {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-around;
  flex-direction: column;
}

/* Cards Styles */

.grid {
  display: flex;
  flex-wrap: wrap;
 }

.grid > * {
  flex: 1 1 50%;
  padding: 1rem;
}

.maincontainer {
  display: relative;
}

.maincontainer > * {
  width: 100%;
}
/*Flip cards */


.card-content {
  padding: 1rem;
}

.card-title {
  margin-top: 5%;
}



.loading-indicator {
  margin-top: 350px;
}


#characters-container.grid {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: relative;
}


/*flip*/


.maincontainer{
  width: 300%;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;

}

.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}


.thecard:hover{
  transform: rotateY(180deg);
}


 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background:  #11b0c8;
  color: white;
}

.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: black;
  text-align: center;
  transform: rotateY(180deg);
}


.thefront h3, .theback p{
   padding: 10px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  
}

.thefront p, .theback p{
  
  padding: 15px;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}



/*efecto zoom*/

.card {
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 50ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;

}

.card:hover {
  -webkit-transform: scale(1.12,1.12);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  -moz-transform: scale(1.12,1.12);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;

}

/*Tablet--------------------*/
@media screen and (min-width: 768px) {
  .filters {
    flex-direction: row;
  }

  .grid > * {
    flex: 1 1 50%;
    max-width: 50%;
  }
}

/* Desktop---------------------- */
@media screen and (min-width: 1127px) {
  .grid > * {
    flex: 1 1 25%;
    max-width: 25%;
  }

  #characters-container.grid {
    padding: 10rem;
    margin-left: auto;
    margin-right: auto;
  }

}
